<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
  </head>
  <body>
    <h4>Book Name: {{ book.title }}</h4>
    <h4>Current Rating: {{ book.rating }}</h4>
    <form action=" {{ url_for('edit_rating') }}" method="POST">
      <input type="hidden" name="id" value="{{ book.id }}" />
      <input type="text" name="new_rating" placeholder="New Rating" />
      <button type="submit">Change Rating</button>
    </form>
  </body>
</html>
